name: Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  snake:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Generate Snake Animation
        uses: Platane/snk@main
        with:
          username: Vrundpatel153
          output: output/github-contribution-grid-snake.svg

      - name: Save Generated File
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "update snake animation"
